<!-- left-col -->
<div class="border-r-2 flex-initial w-[20%]">
  <ul class="mb-10">
    <li class="mb-5 text-lg font-semibold">
      <button>Start</button>
    </li>
    <li>
      <a class="text-lg" href="/help/start/intro-to-contentre"
        >Intro to Contentre</a
      >
    </li>
    <li>
      <a class="text-lg" href="/help/start/set-up-contentre"
        >Set up Contentre</a
      >
    </li>
    <li><a class="text-lg" href="#">Account Verification</a></li>
  </ul>

  <!-- Sell -->
  <ul class="mb-10">
    <li class="mb-5 text-lg font-semibold"><a href="#">Sell</a></li>
    <li>
      <a class="text-lg" href="/help/sell/set-up-subscription"
        >Set up subscriptions</a
      >
    </li>
    <li><a class="text-lg" href="#">Invoicing Tool</a></li>
    <li><a class="text-lg" href="/help/sell/tax">Tax</a></li>
  </ul>

  <!-- Manage -->
  <ul class="mb-10">
    <li class="mb-5 text-lg font-semibold"><a href="#">Manage</a></li>
    <li>
      <a class="text-lg" href="/help/manage/your-customers">Your customers</a>
    </li>
    <li><a class="text-lg" href="/help/manage/reporting">Reporting</a></li>
    <li><a class="text-lg" href="#">Get Paid</a></li>
    <li><a class="text-lg" href="#">PSD2</a></li>
    <li><a class="text-lg" href="#">Risk Prevention</a></li>
    <li><a class="text-lg" href="#">SDK</a></li>
  </ul>

  <!-- Grow-->
  <ul class="mb-10">
    <li class="mb-5 text-lg font-semibold"><a href="#">Grow</a></li>
    <li><a class="text-lg" href="#">Affiliates</a></li>
    <li><a class="text-lg" href="#">Upsell</a></li>
    <li><a class="text-lg" href="#">Localisation</a></li>
  </ul>

  <!-- Legal-->
  <ul class="mb-10">
    <li class="mb-5 text-lg font-semibold"><a href="#">Legal</a></li>
    <li><a class="text-lg" href="#">Sanctions</a></li>
  </ul>
</div>
