---
layout: "layouts/base.html"
---

<div class="py-20">
  <header class="pt-20">
    <div class="container max-w-screen-xl mx-auto p-4">
      <!--Search input -->
      <div class="md:max-w-[60%] mx-auto">
        {% include "partials/searchbar.html" %}
      </div>
      <!--End Search input -->

      {% include "partials/breadcrumb.html" %}
    </div>
  </header>

  <section class="border-t-gray-800 border-t-2 text-white">
    <div class="container max-w-screen-xl mx-auto px-4">
      <div class="md:flex mt-8">
        {% include "partials/sidebar.html" %}

        <!-- Right-col -->
        <div class="flex-initial w-[80%] text-white">
          <div class="max-w-[70%] mx-auto">
            <div>
              <h1 class="md:text-5xl font-semibold mb-5">
                {{ title | safe }}
              </h1>
              {{ content | safe }}
            </div>

            {% include "partials/support.html" %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
